// Colors
$gradient-first: hsl(6, 100%, 80%);
$gradient-second: hsl(335, 100%, 65%);
$span-text: hsl(243, 100%, 93%);
$gray-color: hsl(229, 7%, 55%);
$sec-bg: hsl(228, 56%, 26%);
$icon-bg: hsl(229, 57%, 11%);
$white: #fff;

// Font
$font-family: "Raleway";
$font-size: 0.875rem; // 14px
$font-normal: 400;
$font-bold: 700;

// Paddings & Margins for Mobiles
$section-padding-big-mob: 42px;
$section-padding-small-mob: 32px;
$internal-padding-big-mob: 32px;
$internal-padding-medium-mob: 16px;
$internal-padding-small-mob: 10px;
